# environments
.venv/

# python
__pycache__/
*.pyc

# training artifacts
runs/
checkpoints/
saved_infor/
*.pth
*.pth.tar

# logs / outputs
*.log
*.png

# backups
*.bak

# local scratch
fastmri_dataset_updated.py
main_updated.py
logger.txt

# local scratch
fastmri_dataset_updated.py
main_updated.py
logger.txt
